.vs/PokerBot/DesignTimeBuild/.dtbcache
.vs/PokerBot/config/applicationhost.config
.vs/PokerBot/v16/.suo
.vs/PokerBot/v16/Server/sqlite3/storage.ide
.vs/PokerBot/v16/Server/sqlite3/storage.ide-shm
.vs/PokerBot/v16/Server/sqlite3/storage.ide-wal
