
@{
    ViewData["Title"] = "Help";
}

<h1>Help</h1>

<a href="https://docs.google.com/spreadsheets/d/1xZjH_zow8NLcnEN79KNay5h0epgFKD_O3p1kxfVDogM/edit?usp=sharing">Consitution</a>

<h2>Slack Commands</h2>
<table>
    <tr>
        <thead>Command</thead>
        <thead>Details</thead>
    </tr>
    <tr>
        <td>
            /register
        </td>
        <td>
            Create a new Poker user account.  
        </td>
    </tr>
    <tr>
        <td>
            /balance
        </td>
        <td>
            Gets your balance.  This might be delayed a few hours as balances are generated hourly, but not if a game is currently in progress. 
        </td>
    </tr>
    <tr>
        <td>
            /changepw
        </td>
        <td>
            Change your Poker account password
        </td>
    </tr>
    <tr>
        <td>
            /paid
        </td>
        <td>
            Indicates you have a sent a payment to a player.
        </td>
    </tr>
    <tr>
        <td>
            /confirm
        </td>
        <td>
            Confirm you received a payment.
        </td>
    </tr>
</table>