
@{
    ViewData["Title"] = "Help";
}

<h1>Help</h1>

<a href="https://docs.google.com/spreadsheets/d/1-syWn-to_JMDENH3vLpDj7Q0mhqBF-zDuXPrNdZAkXM/edit?usp=sharing">Constitution</a>

<h2>Slack Commands</h2>
<table>
    <tr>
        <thead>Command</thead>
        <thead>Details</thead>
    </tr>
    <tr>
        <td>
            /balance
        </td>
        <td>
            Gets your balance.  This might be delayed a few hours as balances are generated hourly, but not if a game is currently in progress. 
        </td>
    </tr>
    <tr>
        <td>
            /changepw
        </td>
        <td>
            Change your Poker account password
        </td>
    </tr>
    <tr>
        <td>
            /paid
        </td>
        <td>
            Indicates you have a sent a payment to a player.
        </td>
    </tr>
    <tr>
        <td>
            /confirm
        </td>
        <td>
            Confirm you received a payment.
        </td>
    </tr>
</table>