@using PokerBot.Models;
@using System.Collections.Generic;
@model List<vSession>
@{
    ViewData["Title"] = "Happies Poker";
}

<div class="text-center">
    <h1 class="display-4">Sessions</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Total</th>
            <th>Date</th>
        </tr>
        @foreach(vSession s in Model)
        {
            <tr>
                <td>@s.Player</td>
                <td>@s.Total</td>
                <td>@s.Date.ToShortDateString()</td>
            </tr>
        }
    </table>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
